@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/product-sans');

:root{
  --primary-color: #0F172A;
  --div-color: #182233;
  --heading: #38BDF8;
  --special: #8251CF;
  --border: rgba( 255, 255, 255, 0.18 );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    font-size: 20px;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Product Sans', sans-serif;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#header{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0px 1rem;
}

#header:has(h3){
    font-size: 0.8rem;

}

#header i{
    color: #fff;
    background-color: black;
    padding: 0.85rem;
    border-radius: 50%;
}

#heading{
    width: 100%;
    height: fit-content;
    padding: 0.5rem 5rem;
    line-height: 1;
    letter-spacing: 3;
}

#heading h1{
    font-size: 3.5rem;
    font-weight: 500;

}

#center{
    display: flex;
    width: 100%;
    height: 9.5rem;
    align-items: start;
    justify-content: space-between;
    padding: 2.2rem 1rem 0 5rem;

}

#center h5{
    line-height: 1.5;
    font-size: .75rem;
}

.line{
    height: .1rem;
    width: 100%;
    background-color:  #000;
}

#sections{
    width: 17rem;
    
}

#sections h2{
    font-size: 1rem;
    padding: .51rem;
}

#picture{
    width: 100%;
    height: 26.2%;
    background-image: url('https://www.shutterstock.com/image-photo/messy-bed-cloths-early-morning-600nw-2369816501.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 786px) {
    html{
        font-size: 10px;
    }

    #center{
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        
    }

    #heading h1{
        text-align: center;
        padding: 0;
    }

    #center #sections{
        margin-top: 4rem;
    }
    
}